<!DOCTYPE html>
<html>
<head>
    <title>Princesas Disney Esqueleto</title>
</head>
<body>
    <a href="./index.html".html” target="_blank"> Index </a>
    <h1><strong>Princesas de Disney</strong></h1>
    <h2>Las 5 Princesas de Disney más populares</h2>
    <p>Las princesas de Disney son gran parte del encanto de las películas clásicas de la casa del ratón. ¿Pero las conoces bien a todas? En esta lista te presentamos a las más populares que entran dentro de la categoría oficial de Princesas Disney, y a otras a las que les falta el título oficial, pero son princesas en nuestros corazones.
        
    <h3>Bella - La Bella y la Bestia</h3> 
    <img src= "../assets/img/Bella.png"> 
    <p>La historia de La Bella y la Bestia está basada en un cuento francés escrito por la novelista francesa Gabrielle-Suzanne Barbot de Villeneuve.
        <br>Uno de los primeros símbolos de feminismo en medios para niños, Bella era rechazada por su pueblo por ser un "espíritu libre". Prefería leer y educarse antes de ser simplemente una esposa, además de soñar con aventuras donde lograra mucho más que vivir en un pueblo pequeño. Se sacrifica en nombre de su padre para defenderlo, algo que veremos que tiene en común con más de una princesa en esta lista.
        <br>Bella no creía en lo sobrenatural hasta conocer a los sirvientes de la Bestia, a pesar de ser una ávida lectora de libros de fantasía. Pero debido a que es una mujer lógica y que se ha educado mucho, es muy inteligente y resolutiva. Es de armas tomar, sabe montar a caballo y tiene una curiosidad innata. </p>
    

    <h3>Rapunzel - Enredados</h3> 
    <img src= "../assets/img/Rapunzel.png"> 
    <p>Enredados, también conocida como Tangled, está basada en Rapunzel, una fábula alemana publicada en 1812, reescrita y basada en el cuento Persinette de Charlotte-Rose de Caumont de la Force.

    <br>El caso de nuestra Rapunzel, la de la historia de Disney, se trata de una princesa que no sabe lo que es. Fue secuestrada por Madre Gothel cuando era muy pequeña. Esto se debe a que su cabello tiene propiedades mágicas, y crece en cautiverio, sirviendo como una especie de fuente de la juventud para su secuestradora.
    
    <br>Desgraciadamente, Rapunzel tiene que soportar muchas penurias después de salir de su torre. Al descubrir que es la princesa perdida, cuestiona todo lo que conoce, ya que en su corazón puro es perfectamente capaz de ver a su secuestradora como su madre. No obstante, cuando madre Gothel demuestra sus verdaderos sentimientos hacia Rapunzel, la joven no duda en confrontarla para finalmente ganarse su libertad</p>

    <h3>Jasmín - Aladdín</h3> 
    <img src= "../assets/img/Jasmin.png"> 
    <p>También conocida como Jasmine o Yasmín, este personaje es la hija del sultán de Agrabah, lo cual la hace la princesa del reino. El origen de la historia de Aladín es un poco más difícil de señalar, ya que es una mezcla entre la historia de Aladino, de Las mil y una noches, y El Ladrón de Bagdad, una película de los años 40.

    <br>Jasmín es un personaje a quien conocemos como una joven atrapada en sus circunstancias. No sueña con ser sultana, pero ese es su destino, y por ello tiene un gran sentido de la responsabilidad. No obstante, debido a su estatus, vive encerrada dentro del palacio, y esto le desagrada en sobremanera. Siente que las costumbres que debe seguir son anticuadas, sobre todo cuando no la dejan salir ni siquiera a comprar en el mercado fuera del palacio.
        
    <br>Eventualmente, Jasmín termina dándose cuenta de que el consejero de su padre, Jafar, quiere manipularlo para confinarla en una vida infeliz como su esposa. Con la ayuda de Aladdín, ambos enfrentan al malvado consejero y lo derrotan.</p>


    <h3>Ariel - La sirenita</h3> 
    <img src= "../assets/img/Ariel.png"> 
    <p>La sirenita está basado en el cuento de hadas del mismo nombre escrito por Hans Christian Andersen. El tono de la versión de Disney es mucho más positivo, y Ariel se ganó el corazón de muchos y muchas jóvenes que la vieron por primera vez en pantalla.

    <br>Ariel es una princesa, hija del rey Tritón y la reina Atenea, gobernadores del mundo submarino de Atlántica. La niña ha crecido como la heredera al trono, lo cual hace que deba seguir una serie de reglas que la sofocan. Sin embargo, su afición más peligrosa es el amor que siente por el mundo humano, recolectando objetos que caen al agua sin saber de su origen.
    <br> Eventualmente, esta misma fascinación es la que le causa los problemas que vemos en la película. Ariel decide intercambiar su voz por unas piernas para caminar en la tierra luego de conocer a Eric, un príncipe que le robó el corazón. Y solamente el beso de amor verdadero podrá devolverle su voz, pero Úrsula, la villana de la película, le pone muchos obstáculos a la joven, que tiene que ingeniárselas para poder salir de su predicamento.</p>
    

    <h3>Fa Mulan - Mulan</h3> 
    <img src= "../assets/img/Mulan.png"> 
    <p>Mulan es una historia folklórica china, basada en la balada de Hua Mulan. Es una obra que se compuso alrededor de la Dinastía Tang, en el siglo VI. De hecho, la colección de cantos originales a la que pertenecía se perdió, pero existe una versión más nueva que todavía se conserva. No obstante, no se sabe si el cuento que narra tiene una base histórica.

    <br>En la versión animada de Disney, conocemos a Fa Mulan, una joven rebelde que no quiere ser lo que la sociedad espera de ella. Va a clases de cortesía, y su familia solo espera que se case para subir su estatus, pero ella sueña con algo más. Además, se siente inadecuada en un papel enteramente delicado y femenino.
        
    <br>Cuando a su padre, que está anciano y enfermo, lo llaman para servir obligatoriamente en el ejército, Mulan, sin decirle a nadie, se hará pasar por él. Así, se infiltra dentro del ejército y con su fuerza de voluntad e inteligencia, logra no solo encajar, sino que luego de que la descubren, acabar con el enemigo de una forma aplastante.</p>
    
    
</body>

</html>
  <!-- Tablas y enlaces PARA LA OTRA CLASEEEEE-->


  <!--- Hacer dos paginas esqueleto para la prox clase-->