<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio Clases</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/ejercicio.css">
</head>
<body>
    <h2 id="titulo"> Familia Laiton Romero</h2>
    <h2 > Integrantes de la Familia</h2>
    <p class="nombre"> Natalia Laiton Romero </p>
    <p class="cumple"> 25 octubre 2002  </p>
    <p class="mama"> Ana Carmenza Romero es la mamá bonita</p>
    <p >Hasta muchos siglos después no se dudó de la existencia efectiva de ambos, señalando además la perfecta antítesis entre las dos figuras: <span class="homero">Homero como cantor de las gestas de los héroes</span>, Esopo como retratista de la plebe, de las debilidades humanas bajo aspecto de animales. En ambos casos, numerosas ciudades se disputaron el honor de ser su cuna.</p>
</body>
</html>