<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fábula</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/fabula.css">
</head>
<body>
    <h1>
        <strong>La Lechera y el Cántaro</strong>
    </h1>
    <img src= "../assets/img/lechera.webp">
    
<p>Había una vez una lechera que llevaba un cántaro lleno de leche sobre su cabeza. Estaba pensando en todas las cosas maravillosas que podría comprar con el dinero que obtendría vendiendo la leche. 'Voy a vender esta leche y compraré huevos, y cuando los huevos se conviertan en pollitos, podré vender los pollitos y comprar un hermoso vestido nuevo', pensó.</p>
<p>Continuó con sus pensamientos: 'Y cuando tenga ese hermoso vestido nuevo, todos en el pueblo me mirarán con envidia, y me sentiré como una reina'.</p>
<p>En su ensoñación, la lechera dio un pequeño paso en falso y el cántaro se cayó de su cabeza, rompiéndose en pedazos y derramando toda la leche. Sus sueños se desvanecieron en un instante.</p>
<p>Moral de la historia: No cuentes tus pollos antes de que nazcan.</p>

</body>
</html>