<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fábula</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/fabula.css">
</head>
<body>
    <h1>
        <strong>La Lechera y el Cántaro</strong>
    </h1>
    <h2>
        Fábula de Esopo
    </h2>
     
    <img src= "https://arbolabc.nyc3.cdn.digitaloceanspaces.com/Cuentos_Infantiles/fabulas/images/webP/lecheraC.webp">
    <h5>
        Tomado de: <a> https://arbolabc.com/fabulas-para-ni%C3%B1os/la-lechera</a> <br>
        Figura 1: La Lechera y el Cantaro.
    </h5>
<p>Había una vez una lechera que llevaba un cántaro lleno de leche sobre su cabeza. Estaba pensando en todas las cosas maravillosas que podría comprar con el dinero que obtendría vendiendo la leche. <br><br>
'Voy a vender esta leche y compraré huevos, y cuando los huevos se conviertan en pollitos, podré vender los pollitos y comprar un hermoso vestido nuevo', pensó.Continuó con sus pensamientos: 'Y cuando tenga ese hermoso vestido nuevo, todos en el pueblo me mirarán con envidia, y me sentiré como una reina'.<br><br>
 En su ensoñación, la lechera dio un pequeño paso en falso y el cántaro se cayó de su cabeza, rompiéndose en pedazos y derramando toda la leche. Sus sueños se desvanecieron en un instante.  </p>

<h3>Moraleja de la historia: No cuentes tus pollos antes de que nazcan.</h3>

<ul> Otras fabulas de Esopo
<li> La liebre y la tortuga</li>
<li> La cigarra y la hormiga</li>
<li> El leon y el raton</li>
<li> Las moscas</li>
<li> El asno y el leon </li>
</ul>

<table border = 2px solid >
    <tr>
        <th > <strong> Autor</strong></th>
        <th > <strong> Fabulas</strong></th>
    </tr>
        <td> Rafael Pombo </td>  <td> Renacuajo Paseador <br> La Pobre Viejecita </td> 
    <tr>
        <td> Jean La Fontaine </td>  <td> El molinero <br> El Zorro y el Cuervo  </td> 
    </tr>
    <tr>
        <td> Jean La Fontaine </td>  <td> El burro flautista <br> El Zorro y el Cuervo  </td> 
    </tr>
    <tr>
        <td> Rafael Garcia Goyena </td>  <td> La araña y el Mosquitp <br> El Zorro y el Cuervo  </td> 
    </tr>


</table>

<a  class=" lista"href="./index.html".html” target="_blank"> Index </a> <br>
</body>
</html>