<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/styles.css">
<body > <!--style="background-color: red;"-->
    <a  class=" lista"href="./index.html".html” target="_blank"> Index </a> <br>
    <form name="DatosBasicos" action="../index.html" method=""> <!--; viene otra propiedad-->
    <h1> <img src="../assets/img/cafe.svg" width="100px"> Datos Básicos</h1>
    
    <label for="perfil"> Describa su perfil:</label> <br>
        <textarea id="perfil" rows="5" cols="150"  name="perfil"> </textarea><br>
    <label for="tipoI"> Tipo de Identificación:</label>
    <select id="tipoI" name="tipoI"> <br>
        <option selected value="0"> Selecciona un tipo de Documento </option>
        <option value="NUIP">NUIP</option>
        <option value="Tarjeta de Identidad">Tarjeta de Identidad</option>
        <option value="Cédula de Ciudadania">Cédula de Ciudadania</option>
        <option value="Cédula de Extranjería">Cédula de Extranjería</option>
        </select> <br> <br>

        <label for="ciudad">¿En qué ciudad vives?</label>
            <select name="ciudad">
            <option selected value="0"> Elige una ciudad</option>
            <optgroup label="Cundinamarca">
            <option value="1">Bogotá</option>
            <option value="2">Chia</option>
            </optgroup>
            <optgroup label="Antioquia">
            <option value="4">Medellin</option>
            <option value="5">Envigado</option>
            </optgroup>
            <optgroup label="Santander">
                <option value="4">Bucaramanga</option>
                <option value="5">San Gil</option>
                </optgroup>
            </select>
    <label for="numI"> Número de Identificación:</label>
        <input id="numI"> <br>
    <label for="apellidos">Apellidos:</label>
        <input id="apellidos" type="text" name="apellidos"> <br>
    <label for="nombres"> Nombres:</label>
        <input id="nombres" type="text" name="nombres"> <br>
    <label for="genero"> Género:</label> <br> 
        <input id="generoF" type="radio" name="genero"> Femenino  <br>
        <input id="generoM" type="radio" name="genero"> Masculino  <br>
    <label for="estadoCiv"> Estado Civil:</label> <br> 
        <input id="estadoCiv" type="radio" name="genero"> Soltero <br>
        <input id="estadoCiv" type="radio" name="genero"> Casado <br>
        <input id="estadoCiv" type="radio" name="genero"> Unión Libre <br>
        <input id="estadoCiv" type="radio" name="genero"> Divorciaco <br>
    <label for="telefono"> Número telefónico de Contacto:</label>
        <input id="telefono"> <br>
    <label for="dir"> Dirección de tu Residencia:</label>
        <input id="dir"  type="text" name="dir"> <br>
    <label for="correo"> Correo Electrónico de Contacto:</label>
        <input id="correo"  type="mail" name="correo"> <br>
    <label for="contras"> Contraseña</label>
        <input id="cc"  type="password" name="cc"><br>
    <label>¿Qué te gusta hacer en tu tiempo libre?</label>
        <input type="checkbox" id="series" name="series">
        <label for="series">Ver Series</label>
        <input type="checkbox" id="jugar" name="jugar">
        <label for="jugar">Jugar Videojuegos</label>
        <input type="checkbox" id="deportes" name="deportes">
    <label for="deportes">Hacer Deporte</label> <br>

    <label for="archivo">Sube aqui tus archivos</label>
    <input type="file" name="archivos">

    

</body>
</html>