<!DOCTYPE html>
<html>
<head>
    <title>Mi Horario</title>
</head>
<body>
    <h1>Horario 2023-2</h1>
    <p>A continuación, se mostrará el horario de Natalia Laiton Romero, en el semestre académico 2023-2</p>  <!-- Etiqueta para escribir parrafos-->
    
    <table border>
        <tr>
            <th colspan=1>Horario</th>
            <th colspan=1>Lunes</th>
            <th colspan=1>Martes</th>
            <th colspan=1>Miercoles</th>
            <th colspan=1>Jueves</th>
            <th colspan=1>Viernes</th>
        </tr>
        <tr>

            <th>7:00-9:00</th> <th> </th> <th > Modeling Of Dynamical Systems </th> <th> Análisis Estadístico de Datos</th><th rowspan="2"> Modeling Of Dynamical Systems</th><th rowspan="2"> Análisis Estadístico de Datos</th>
            
        </tr>
        <tr>
            <th>9:00-10:00</th> <th> </th> <th> </th> <th> </th>
        
        </tr>
        <tr>
            <th>10:00-11:00</th> <th> </th> <th> </th> <th></th><th> </th><th></th>
        </tr>

        <tr>
            <th>11:00-1:00</th> <th> </th> <th> Machine Learning</th> <th> Desarrollo Web</th><th> Machine Learning</th><th> Desarrollo Web</th>
        </tr>

        <tr>
            <th>1:00-3:00</th> <th> </th> <th> </th> <th> </th><th> </th><th> Seminario de Grado</th>

        <tr>
            <th>3:00-5:00</th> <th> </th> <th> Inteligencia Artificial</th> <th> </th><th> Inteligencia Artificial</th><th> Keystone</th>
        </tr>

        <p>Otras Páginas</p>
        <a href="./Disney.html".html” target="_blank"> Disney </a>
        <a href="./Harry_Potter.html".html” target="_blank"> Harry Potter </a>
        <a href="./index.html".html” target="_blank"> Index </a>
    </table>
</body>

</html>
