
<!DOCTYPE html>
<html lang="es-ES">
<head>
	<title>harry Potter y la Camara de los Secretos</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/esopo.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

</head>
</head>
<body>
	
	<nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="./HarryPotter.html">Harry Potter</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Casas de Howgarts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Hechizos</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      <div class="Esopo">
        <h1 id="">Harry Potter y la Camara de los Secretos </h1>
        <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2020/08/harry-potter-piedra-filosofal-2043917.jpg?tf=3840x00">
        <p>"Harry Potter y la Cámara de los Secretos" es la segunda película de la serie basada en la exitosa saga de libros de J.K. Rowling. La historia continúa siguiendo las aventuras del joven mago Harry Potter durante su segundo año en la Escuela de Magia y Hechicería de Hogwarts.</p>
        <p>En esta película, Harry regresa a Hogwarts después de un verano tumultuoso y descubre que una misteriosa fuerza ha sido desatada en la escuela, causando que los estudiantes aparezcan petrificados y dejando mensajes siniestros en las paredes. Pronto se entera de la leyenda de la Cámara de los Secretos, una cámara oculta que solo puede ser abierta por el heredero de Salazar Slytherin y que contiene un monstruo mortal. Harry se propone descubrir la verdad detrás de esta leyenda y detener la amenaza que acecha en Hogwarts.</p>
        <p>A lo largo de la película, Harry es acompañado por sus amigos Ron y Hermione, y juntos enfrentan peligros, resuelven acertijos y desentrañan el misterio detrás de la Cámara de los Secretos. La película también profundiza en el pasado de la familia de Harry y en su conexión con el malvado mago Lord Voldemort.</p>

        <p>"Harry Potter y la Cámara de los Secretos" es una emocionante continuación de la historia de Harry Potter y lo sumerge aún más en el mundo de la magia, los secretos y los peligros que lo rodean.</p>
</div>
</body>
</html>