<!DOCTYPE html>
<html>
<head>
    <title>My First Web Page</title>
</head>
<body>
    <h1>Pagina Inicial</h1>
    
    <h2>Hello, World!</h2>
    <p>This is a simple web page.</p>  <!-- Etiqueta para escribir parrafos-->
    <!-- Etiqueta para punto y aparte, saltar de p[agina br]-->
    <p>This is a simple <br> web page.</p> 
    <p>This <strong> is a  </strong> simple <br> web page.</p> 
    <!-- Strong me permite ponerle negrita-->
    <p>This <em> is a  </em> simple <br> web page.</p> 
    <!-- em me permite ponerle cursiva-->
    <p>This <u> is a  </u> simple <br> web page.</p> 
     <!-- u me permite ponerle cursiva-->
    <p>This <sub> ssv </sub>   asfvsv <sup> simple</sup>  web page.</p> 

    <img src= "./assets/img/pasta.avif" ><!-- ../ para salir de la carpeta (por cada carpeta un punto)-->
    <!-- Crear una lista ordenada: -->

    <ol start="10" type = "A"> <!-- start="10"  en que numero o letra comienza la lista-->
    <!-- <ol reverse (orden inverso)--> 
        <li> Indice </li> <!-- li es como el item en latex-->
        <li> Introduccion </li>
        <li> Justificacion </li>

    </ol>
    <!-- Crear una no lista ordenada: -->

    <ul> 
        <li> Indice </li> <!-- li es como el item en latex-->
        <li> Introduccion </li>
        <li> Justificacion </li>
    </ul>
    <a href="../views/Disney.html".html” target="_blank"> Disney </a>
    <a href="../views/Horario.html".html” target="_blank"> Disney </a>
    <a href="../views/Harry_Potter.html".html” target="_blank"> Harry Potter </a>
</body>

</html>
  <!-- Tablas y enlaces PARA LA OTRA CLASEEEEE-->


  <!--- Hacer dos paginas esqueleto para la prox clase-->