<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <meta name="author" content="Natalia Laiton"> <!-- Comentarios-->
    <link rel="icon" href="../assets/img/quiz.jpeg" type="image/x-icon" >
    <meta name="description" content="Este es un quiz sobre los basicos de HTML">


</head>
<body>
    <h1>Quiz</h1>
    
    <table border = 1>
        <tr>
            <th > <strong> L</strong></th>
            <th > <strong> Nombre</strong></th>
            <th > <strong> Apellido </strong></th>
            <th > <strong> Cosa</strong></th>
            <th> <strong> Color </strong></th>
            <th > <strong>  Lugar </strong></th>
            <th > <strong> Atributo HTML</strong></th>
            <th ><strong>Total </strong></th>
        </tr>
            <td> V </td>  <td> Valentina </td> <td> Vivas </td> <td> <img src="../assets/img/vajilla.jpeg" width="100px">  </td> <td style="background-color: MediumSlateBlue;"> </td> <td > vaticano  </td> <td >  <u> <em> video </em> </u> </td> <td> 0</td>
        <tr>
            <td> D </td>  <td> David </td> <td> Dias </td> <td> <img src="../assets/img/diamante.jpeg" width="100px">  </td> <td style="background-color: Gold;"> </td> <td > desierto  </td> <td >  <u> <em> disabled </em> </u> </td> <td> 1</td>
        </tr>

        <tr>
            <td> U </td>  <td> Ulises </td> <td> Urquia </td> <td> <img src="../assets/img/ukelele.jpeg" width="100px">  </td> <td style="background-color: Indigo;"> </td> <td > ucrania.  </td> <td >  <u> <em> u </em> </u> </td> <td>1 </td>
        </tr>

        <tr>
            <td> X </td>  <td> Xiomara </td> <td> Xiccato </td> <td> <img src="../assets/img/xilofono.png" width="100px">  </td> <td style="background-color: PaleTurquoise;"> </td> <td > xàtiva.  </td> <td >  <u> <em> xml:lang </em> </u> </td> <td> 1</td>
        </tr>

        <tr>
            <td> R </td>  <td> Rocio </td> <td> Rodriguez </td> <td> <img src="../assets/img/raqueta.jpeg" width="100px">  </td> <td style="background-color: Red;"> </td> <td > rusia.  </td> <td >  <u> <em> ruby </em> </u> </td> <td> 1 </td>
        </tr>
    
    </table>
    



</body>

</html>