@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Lora&family=Merriweather:ital,wght@0,300;1,400&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Lora&family=Merriweather:ital@1&family=Playfair+Display&display=swap');

body { 
    margin: 0;
    width: auto;
    height: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    text-align: center; /* Centrar texto horizontalmente */
    align-items: center;
    
}

h1 { 
    color: black;
    text-align: left;
}

.Esopo p { 
    
    text-align: justify;
    
}

.Esopo { 
    width: 800px;
    background-color: #FEF5E7 ;
    margin: 50px auto;
    border: 4px dashed#FCFC34 ;
    padding: 30px 30px 30px 30px;
    color: black;

}

.Esopo img { 
    width: 300px;
    float: left;
    margin-right: 10px;
}

span { 
    color: rgb(242, 232, 37);
    text-decoration: underline; 
    font-family: 'Merriweather';
}

