@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Lora&family=Merriweather:ital,wght@0,300;1,400&display=swap');

body { 
    margin: 0;
    width: auto;
    height: 0;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center; /* Centrar contenido horizontalmente */
}

h1 { 
    background-color: #AED6F1;
    color: blue;
    font-family: 'Inclusive Sans';
    font-weight: 300;
    font-size: 200%;
    margin: 0; /* Elimina el margen superior e inferior del título */
    padding: 20px; /* Añade espacio alrededor del título */
}

p { 
    font-family: 'Inclusive Sans';
    
}

/* Estilo para centrar la imagen */
.center-image {
    display: block;
    margin: 0 auto;
}
