@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Lora&family=Merriweather:ital,wght@0,300;1,400&display=swap');

body { 
    margin: 0;
    width: auto;
    height: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #E8F2F8;
    text-align: center; /* Centrar texto horizontalmente */
    align-items: center;
    
}

h1 { 
    background-color: #AED6F1;
    color: blue;
    font-family: 'Inclusive Sans';
    font-weight: 300;
    font-size: 200%;
    margin: 0; /* Elimina el margen superior e inferior del título */
    padding: 20px; /* Añade espacio alrededor del título */
    text-transform: uppercase;
    font-weight: 9000;
}

p { 
    font-family: 'Inclusive Sans';
    text-align: justify;
    
}

h2 { 
    color: darkblue;
    font-family: 'Inclusive Sans';
    font-weight: 300;
    font-size: 200%;
    margin: 0; /* Elimina el margen superior e inferior del título */
    padding: 20px; /* Añade espacio alrededor del título */
}

h3 { 
    color: rgb(101, 101, 232);
    font-family: 'Inclusive Sans';
    font-weight: 200;
    font-size: 20px;
    margin: 0; /* Elimina el margen superior e inferior del título */
    padding:15px; /* Añade espacio alrededor del título */
    text-align: right;
}

h5 { 
    color: rgb(101, 101, 232);
    font-family: 'Inclusive Sans';
    margin: 0; /* Elimina el margen superior e inferior del título */
    text-align: right;
}

ul{

    font-family: 'Inclusive Sans';
    text-align: center;
    color: rgb(64, 188, 212);
    font-size: 25px;
    font-weight: 100;
    list-style-image: url('../img/is.png');
    list-style-position: inside;
}

li{
    text-align: left;
    color: black;
    font-size: 16px;
}

table{
    border-width: 3px;
    border-style: solid;
    border-color: rgb(11, 11, 11);
    font-size: 16px;
    margin: 0 auto;
    border-collapse: collapse;
    
}

th{
    background-color: aquamarine;
    
}

td{
    text-align: justify;
}