@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Lora&family=Merriweather:ital,wght@0,300;1,400&display=swap');
body { 
    margin: 0;
    width: auto;
    height: 0;
    background-image: url(../img/formulariuo.avif );
    background-repeat: no-repeat;
    background-size: cover
    ;}
  
h1 { 
    background-color: gray;
    color: black;
    font-family:  'Inclusive Sans';
    font-weight: 300;
    font-size: 200% ;
    }
   
h2 { 
    font-family: 'Inclusive Sans';}
